<html>
<head>
<link href="css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<table bgcolor="#E6E6E6" width="240" align="center" height="100%" cellpadding="2" cellspacing="2" border="0">
		<tr>
          	<td width="100%" colspan="2" class="navigator" style="">Entities</td>
		</tr>
		<tr>
          	<td class="navigator" align="left" width="50%">Persons</td>
          	<td class="navigator" align="left" width="50%">123</td>
		</tr>
		<tr class="border_top_bottom">
          	<td class="navigator" width="50%" align="left" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">Organizations</td>
          	<td class="navigator" align="left" width="50%" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">123</td>
		</tr>
		<tr>
          	<td colspan="2" class="navheader" width="100%">Relations</td>
		</tr>
		<tr class="border_top_bottom">
          	<td class="text" align="left" width="50%" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">Average Strength</td>
          	<td class="text" align="left" width="50%" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">123</td>
		</tr>
		<tr>
          	<td colspan="2" class="navheader" width="100%">Networks</td>
		</tr>
		<tr class="border_top_bottom">
          	<td class="text" align="left" width="50%" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">Diameter</td>
          	<td class="text" align="left" width="50%" style="BORDER-TOP: #FFFFFF 1px solid;BORDER-BOTTOM: #FFFFFF 1px solid;">123</td>
		</tr>

	</table>
</body>
</html>